{{ define "main" }}
  <div class="text-center">
    <h1 class="text-5xl font-semibold pt-16">Web Tech to Use</h1>
    <h2 class="text-xl text-gray-600 pt-4">
      What technologies you can use when building your next website
    </h2>
  </div>
  <div class="flex justify-center pt-8">
    <ul
      class="flex flex-col text-center divide-y max-w-sm w-96 text-xl text-gray-700"
    >
      {{ range where .Site.RegularPages "Section" "categories" }}
        <li class="py-2">
          <a class="hover:font-medium" href="{{ .RelPermalink }}"
            ><p>{{ .Title }}</p></a
          >
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
