{{ define "main" }}
  <div class="pt-6 pl-6">
    <a href="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="h-10 w-10 inline-block text-gray-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
        />
      </svg>
      <span>Home</span></a
    >
  </div>
  <div class="pt-6">
    <h1 class="text-center text-4xl font-semibold">About this site</h1>
    <div class="prose mx-auto max-w-read pt-6 prose-blue">
      {{ .Content }}
    </div>
  </div>
{{ end }}
