{{ define "main" }}
  <div>
    <div class="pt-6 pl-6">
      <a href="/"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-10 w-10 inline-block text-gray-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
          />
        </svg>
        <span>Home</span></a
      >
    </div>
    <h1 class="text-center text-5xl font-semibold pt-6 pb-12">{{ .Title }}</h1>
    <div class="h-40">
      <div class="flex justify-center">
        <script
          async
          type="text/javascript"
          src="//cdn.carbonads.com/carbon.js?serve=CEBIVKQN&placement=csnotesme"
          id="_carbonads_js"
        ></script>
      </div>
    </div>
    <div class="overflow-x-auto px-2">
      <table class="table-auto w-1/2 mx-auto">
        <thead>
          <tr class="border-b-2 border-gray-400 text-teal-500">
            <th class="px-4 py-2">Product</th>
            {{ if .Params.properties.description }}
              <th class="px-4 py-2 ">Description</th>
            {{ end }}
            {{ if .Params.properties.type }}
              <th class="px-4 py-2 ">Type</th>
            {{ end }}
            {{ if .Params.properties.free_tier }}
              <th class="px-4 py-2 ">Free Tier?</th>
            {{ end }}
            {{ if .Params.properties.limit }}
              <th class="px-4 py-2 ">Free Limit</th>
            {{ end }}
            {{ if .Params.properties.pricing }}
              <th class="px-4 py-2 ">Pricing page</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range .Params.tech }}
            <tr class="text-gray-500">
              <td class=" px-4 py-4  font-medium flex justify-center">
                <a
                  href="{{ .link }}"
                  class="border-b-2 hover:border-blue-500 border-transparent border-tr px-8 pb-2 flex justify-center items-center"
                >
                  <img
                    src="{{ .image }}"
                    class="h-12 inline-block pr-4"
                    alt="{{ .name }}"
                  />
                  {{ if not .name_hidden }}
                    <span>{{ .name }}</span>
                  {{ end }}
                </a>
              </td>
              {{ if $.Params.properties.description }}
                <td class="px-4 py-2  font-medium text-center">
                  {{ .description }}
                </td>
              {{ end }}
              {{ if $.Params.properties.type }}
                <td class="px-4 py-2  font-medium text-center">
                  {{ .type }}
                </td>
              {{ end }}
              {{ if $.Params.properties.free_tier }}
                <td
                  class="px-4 py-2  font-medium text-center flex justify-center"
                >
                  {{ if .free_tier }}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 48 48"
                      width="48px"
                      height="48px"
                    >
                      <path
                        fill="#c8e6c9"
                        d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                      />
                      <path
                        fill="#4caf50"
                        d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"
                      />
                    </svg>
                    {{ else }}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 48 48"
                      width="48px"
                      height="48px"
                    >
                      <path
                        fill="#f44336"
                        d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                      />
                      <path
                        fill="#fff"
                        d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                      />
                      <path
                        fill="#fff"
                        d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                      />
                    </svg>
                  {{ end }}
                </td>
              {{ end }}
              {{ if $.Params.properties.limit }}
                <td class="px-4 py-2  font-medium text-center">
                  {{ .limit }}
                </td>
              {{ end }}
              {{ if $.Params.properties.pricing }}
                <td class="px-4 py-2 text-blue-600 font-medium text-center">
                  <a class="hover:underline" href="{{ .pricing }}"
                    >{{ .name }}</a
                  >
                </td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
{{ end }}
